<div #annotation class="fullAnnotation"
  [style.top.px]="topVar.value"
  [class.editing]="editing"
  (dblclick)="tryEdit()"
  >
  <div class="attribution colorA">
    <span class="name">{{ann.author}}</span>
    <span class="date" title="{{getFullDateString()}}">{{getShortDateString()}}</span>
    <span class="deleteButton fa fa-remove" (click)="removeMe()"></span>
  </div>
  <div class="commentary" *ngIf="!editing">
    {{ann.text}}
  </div>
  <textarea #textArea autosize class="commentary"
    *ngIf="editing"
    [(ngModel)]="ann.text"
    (blur)="stopEdit()"
    ></textarea>
</div>
