@import '~sass/variables';

.modal {
  display: none;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: auto;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: white;
  padding: 10px;
  max-width: $editorMaxWidth;
  margin: auto;
  margin-top: 10px;
}

.modal.visible {
  display: block;
}

.modalField {
  margin-top: 8px;

  input, textarea {
    min-width: 300px;
  }
}

.buttonBar {
  margin-top: 4px;
  display: flex;
  flex-direction: row-reverse;

  button {
    color: white;
    margin-right: 8px;
  }

  button.ok {
    background-color: $okColor;
  }

  button.cancel {
    background-color: $cancelColor;
  }
}

