$sidebarWidth: 256px;
$editorMaxWidth: 768px;
$sidebarWidthThreshold: 1280px;
$sidebarTransition: all 0.2s ease-out;

$editorbarHeight: 90px;

$textColor: #2e383c;
$propFont: 'Cabin', sans-serif;
$monoFont: 'Source Code Pro', monospace;

$cancelColor: darkred;
$cancelHover: rgb(100, 1, 1);
$okColor: darkgreen;
$okHover: rgb(0, 58, 0);
$okDisabled: #d3e9d3;

$colorA: #32eeff;
$colorB: #32ff9e;
$colorC: #ff727c;
$colorD: #ce5399;
$colorE: #5b9499;

