<div class="editorBar">
  <div class="fileInfo">
    <span class="repoInfo">{{editor.file.item.repo.owner}}/{{editor.file.item.repo.name}}/</span>{{editor.file.item.fullPath()}}
  </div>
  <div class="toolbar">
    <div *ngFor="let item of items">
      <button
        *ngIf="item && item.itemType === 'BUTTON'"
        class="pure-button"
        [class.pure-button-disabled]="item.state === 'disabled'"
        [class.pure-button-active]="item.state === 'active'"
        (click)="handleClick(item)"
        >
          <span class="icon fa fa-{{ item.icon }}"></span>
      </button>
      <div *ngIf="item.itemType === 'SEP'" class="tbSep"></div>
    </div>
  </div>
  <div class="memo" [class.hidden]="editor.mode === 'edit'">
    <div class="arrow-up"></div>
    <div class="memoPanel">
      <textarea placeholder="Describe your changes here." [(ngModel)]="commitMessage"></textarea>
      <div class="buttonBar">
        <span class="panelButton fa fa-times icon icon-cancel" (click)="cancelSave()"></span>
        <span class="panelButton fa fa-check icon icon-ok" [class.disabled]="commitMessage.length === 0" (click)="doSave()"></span>
      </div>
    </div>
  </div>

</div>
