<div class="editorBar">
  <!-- <div class="fileInfo">
    <span class="repoInfo">{{editor.file.item.repo.owner}}/{{editor.file.item.repo.name}}/</span>{{editor.file.item.fullPath}}
  </div> -->
  <div class="toolbar">
    <div *ngFor="let item of items">
      <div class="buttonItem" *ngIf="item && item.itemType === 'BUTTON'">
        <button
          class="pure-button"
          [class.pure-button-disabled]="item.state === 'disabled'"
          [class.pure-button-active]="item.state === 'active'"
          (click)="handleClick(item)"
          >
            <span class="icon fa fa-{{ item.icon }}"></span>
        </button>
        <div class="tooltip">{{item.name}}</div>
      </div>
      <div *ngIf="item.itemType === 'SEP'" class="tbSep"></div>
    </div>
  </div>
</div>
