@import '~sass/variables';

$baseButtonColor: rgb(232, 244, 255);
$panelColor: rgb(211, 211, 211);

.editorBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $editorbarHeight;
  z-index: 20;
  background-color: white;
  border-bottom: #999 solid 1px;
}


.toolbar {
  padding: 10px;
  margin-left: 70px;

  display: flex;
}

.fileInfo {
  margin-left: 70px;
  padding-top: 3px;
  padding-left: 15px;
  color: rgb(66, 66, 66);

  .repoInfo {
    color: rgb(117, 117, 117);
  }
}

.tbSep {
  margin: 5px;
}

.pure-button .icon {
  font-size: 25px;
}

.buttonItem:hover .tooltip {
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  text-align: center;
  position: absolute;
  text-align: center;
  width: 120px;
  margin-left: -35px;
  background-color: black;
  color: white;
  padding: 5px 0;
  border-radius: 5px;
}

.pure-button {
  padding: 7px;
}

.pure-button-active {
  background-color: darken(rgb(230, 230, 230), 20%);
}

.memoPanel {
  width: 400px;
  background-color: rgb(250, 250, 250);
  padding-right: 5px;
  padding-bottom: 5px;

  textarea {
    resize: none;
    margin-top: 10px;
    margin-left: 10px;
    width: 95%;
  }

  .buttonBar {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
  }

  .panelButton {
    font-size: 22px;
  }

  .panelButton:not(.disabled) {
    cursor: pointer;
  }

  .panelButton.icon-cancel {
    color: $cancelColor;
  }
  .panelButton.icon-cancel:hover {
    color: $cancelHover;
  }
  .panelButton.icon-ok {
    color: $okColor;
  }
  .panelButton.icon-ok:not(.disabled):hover {
    color: $okHover;
  }
  .panelButton.icon-ok.disabled {
    color: $okDisabled;
  }
}
