@import '~sass/variables';

#svgAnnotationLines {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 15;
  pointer-events: none;
}

.annotationDisplay {
  // display: none;
  width: $sidebarWidth;
  margin-top: $editorbarHeight;

}
