<app-toolbar [editor]="this"></app-toolbar>

<div class="editorContainer">
  <div class="drax-editor {{mode}}">
    <textarea #host>
    </textarea>
  </div>
  <div class="annotationDisplay">
    <div class="fullAnnotation">
      <div class="attribution">
        <span class="name">sjml</span>
        <span class="date">Yesterday</span>
      </div>
      <div class="commentary">
        <p>
          Here is one such annotation.
        </p>
        <p>
          With a few <strong>other</strong> notes.
        </p>
      </div>
    </div>
  </div>
</div>
