@import '~sass/variables';

.editorContainer {
  display: flex;
}

.drax-editor {
  max-width: $editorMaxWidth;
  margin: auto;
  margin-top: $editorbarHeight;
}

// Actual code styling below here
::ng-deep {
  .cm-s-drax.CodeMirror {
    height: auto;
    padding: 10px;

    background: #fcfcfc;
    color: $textColor;
    line-height:1.5;
    margin-top: 10px;

    font-family: $propFont;

    -webkit-user-modify: read-write-plaintext-only;
    user-modify: read-write-plaintext-only;
  }

  .locked .cm-s-drax.CodeMirror {
    background-color: rgb(235, 235, 235);
  }

  .cm-s-drax {
    .cm-comment {
      font-family: $monoFont;
    }

    div.CodeMirror-selected { background: lightblue; }

    .CodeMirror-gutters {
      background: #eef8ff; border-right: 1px solid #aaa;
    }
    .CodeMirror-guttermarker { color: #ffee80; }
    .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
    .CodeMirror-linenumber { color: #8a8a8a; }

    .CodeMirror-cursor { border-left: 1px solid $textColor; }

    .cm-link { color: #1e4cb1; }
    .cm-url { color: #7e8ca0; }

    .cm-header {
      line-height: 120%;
    }

    .cm-header-1 {
      font-size: 225%;
    }

    .cm-header-2 {
      font-size: 200%;
    }

    .cm-header-3 {
      font-size: 150%;
    }

    .cm-header-4 {
      font-size: 125%;
    }

    .CodeMirror-line .cm-quote {
      color: lighten($textColor, 35%);
    }

    .cm-m-toml, .cm-m-yaml {
      color: lighten($textColor, 35%);
    }

    .annotation {
      background-color: aqua;
    }

    .annotationStart.annotationEnd {
      border-radius: 5px;
    }

    .annotationStart {
      border-radius: 5px 0 0 5px;
    }

    .annotationEnd {
      border-radius: 0 5px 5px 0;
    }
  }

}
