@import '~sass/variables';

.closeButton {
  position: relative;
  float: right;
  font-size: 25px;
  cursor: pointer;
}

.historyDisplay {
  width: 100%;
}

.historyItem {
  padding: 10px;

  display: flex;
}

.historyItem:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.userData, .date {
  text-align: right;
  padding-left: 10px;
}

.avatar {
  width: 16px;
}

.message {
  flex-grow: 1;
}



