<span class="closeButton fa fa-close icon" (click)="close()"></span>
<h1>{{title}}</h1>
<p>{{description}}</p>
<hr>
<div class="historyDisplay" *ngIf="historyData">
  <div *ngFor="let entry of historyData"
    class="historyItem"
    (click)="clickedItem(entry.oid)"
    >
    <span class="message">{{entry.messageHeadline}}</span>
    <span class="date">{{entry.commitDate | date:'MMM d, y h:mm a'}}</span>
    <span class="userData">
      <img class="avatar" src="{{entry.userAvatar}}&s=16" alt="{{entry.userLogin}} avatar" />
      <span class="login">{{entry.userLogin}}</span>
    </span>
  </div>
</div>
