@import '~sass/variables';
@import '~sass/mixins';

.sidebar-link {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0,0,0,0.7);
  font-size: 25px;
  z-index: 10;
  height: auto;
  padding: 10px;
  color: #fff;
}

#sidebar, .sidebar-link {
  @include transition($sidebarTransition);
}

.sidebar-link:hover,
.sidebar-link:focus {
    background: #000;
}

.gitHubWidget {
  background-color: aliceblue;
  font-size: 20px;
  padding: 10px;

  .icon {
    font-size: 48px;
  }
}

.gitHubWidget > div {
  display: flex;
  align-items: center;
  text-align: center;

  .avatar {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  .username {
    flex-grow: 1;
  }

  .icon-logout:hover {
    cursor: pointer;
  }
}

.gitHubConnectPrompt:hover {
  cursor: pointer;
}

#layout.active #sidebar {
  left: $sidebarWidth;
  width: $sidebarWidth;
}

#layout.active .sidebar-link {
  left: $sidebarWidth;
}

#sidebar {
  width: $sidebarWidth;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #191818;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

#layout:not(.active) #sidebar {
  margin-left: -$sidebarWidth;
}

#sidebar a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

#sidebar .pure-menu,
#sidebar .pure-menu ul {
  border: none;
  background: transparent;
}

#sidebar .pure-menu li {
  border-top: 1px solid #333;
}

#sidebar .pure-menu li a:hover,
#sidebar .pure-menu li a:focus {
  background: #333;
}


#sidebar .pure-menu-selected {
    background: #1f8dd6;
    color: #fff;
}

#sidebar .pure-menu li.upwardsLink a {
  display: flex;
  background-color: #333;
  color: #fff;
  border-bottom: 2px solid #555;
}

#sidebar .pure-menu li.upwardsLink:hover a {
  background-color: #1f8dd6;
}

.gitHubNode a {
  display: flex;

  .prefixName {
    color: rgb(95, 95, 95);
  }

  .icon {
    margin-right: 5px;
  }

  .nodeName {
    flex-grow: 1;
  }
}


  @media (max-width: $sidebarWidthThreshold) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: $sidebarWidth;
    }
    #sidebar {
        left: -$sidebarWidth;
    }
  }

  @media (min-width: $sidebarWidthThreshold) {

    .sidebar-link {
        position: fixed;
        left: $sidebarWidth;
        display: none;
    }

    #layout.active .sidebar-link {
        left: $sidebarWidth;
    }
  }
