@import '~sass/variables';

.sidebar {
  height: 100%;
  width: $sidebarWidth;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darkslategray;
  overflow-x: hidden;

  .gitHubInfo {
    border-bottom: $sidebarItemColor solid 1px;
    background-color: antiquewhite;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .repoNav {
    a {
      text-decoration: none;
      color: $sidebarItemColor;
      padding: 6px 8px 6px 16px;
      display: block;
      font-size: 25px;
    }

    a:hover {
      color: #f1f1f1;
    }
  }
}
