<div id="slider" [class.open]="isOpen">
  <a class="sidebar-link" (click)="toggleOpen()">
    <span class="fa fa-bars icon"></span>
  </a>

  <div id="sidebar" (scroll)="onScroll($event)">
    <div class="gitHubWidget">
      <div *ngIf="!user && bearerToken !== null" class="gitHubConnectPrompt">
        <div class="fa fa-circle-o-notch icon fa-spin"></div>
        <div class="loginPrompt">Signing in...</div>
      </div>
      <div *ngIf="!user && bearerToken === null" (click)="attemptAuthorization()" class="gitHubConnectPrompt">
        <div class="fa fa-github icon"></div>
        <div class="loginPrompt">Click to sign in with GitHub</div>
      </div>
      <div *ngIf="user" class="gitHubUserInfo">
        <img class="avatar" src="{{ user.avatarUrl }}&s=96" alt="{{ user.login }} avatar">
        <div class="username">{{ user.login }}</div>
        <span class="fa fa-sign-out" (click)="logout()"></span>
      </div>
    </div>

    <div class="pure-menu">
      <ul class="gitHubNavList pure-menu-list">
        <li *ngIf="user" class="pure-menu-item">
          <div class="creationBar">
            <a *ngIf="!upwardsLink" class="fa-stack repo"
              (click)="createNewRepoButtonResponse()"
              >
              <span class="fa fa-database fa-stack-2x"></span>
              <span class="fa fa-plus fa-stack overlay"></span>
            </a>
            <a *ngIf="upwardsLink" class="fa-stack folder"
              (click)="createNewFileButtonResponse(true)"
              >
              <span class="fa fa-folder fa-stack-2x"></span>
              <span class="fa fa-plus fa-stack overlay"></span>
            </a>
            <a *ngIf="upwardsLink" class="fa-stack document"
              (click)="createNewFileButtonResponse()"
              >
              <span class="fa fa-file fa-stack-2x"></span>
              <span class="fa fa-plus fa-stack overlay"></span>
            </a>
          </div>
        </li>
        <li *ngIf="upwardsLink" class="pure-menu-item upwardsLink">
          <a class="pure-menu-link" routerLink="{{upwardsLink}}">
            <span class="fa fa-arrow-left icon"></span>
            <div>{{upwardsLinkLabel}}</div>
          </a>
        </li>
        <li *ngFor="let node of currentNavList"
          class="gitHubNode pure-menu-item"
          >
          <a routerLink="{{ node.getRouterPath() }}" class="pure-menu-link" routerLinkActive="pure-menu-selected">
            <div *ngIf="node.nodeType === 'REPO'" class="fa fa-database icon"></div>
            <div *ngIf="node.nodeType === 'ITEM' && node.isDirectory" class="fa fa-folder icon"></div>
            <div *ngIf="node.nodeType === 'ITEM' && !node.isDirectory" class="fa fa-file icon"></div>
            <div class="nodeName">
              <div *ngIf="node.nodeType === 'REPO'">
                <div *ngIf="node.owner !== this.user.login" class="prefixName" >
                  {{node.owner}}/</div>{{ node.name }}
              </div>
              <div *ngIf="node.nodeType === 'ITEM'">
                {{ node.fileName }}
              </div>
            </div>
            <div *ngIf="node.nodeType === 'REPO' || (node.nodeType === 'ITEM' && node.isDirectory)" class="fa fa-chevron-right chevron"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="main">
  <div *ngIf="workingFile !== null">
    <app-editor [file]="workingFile" [ghAccess]="this"></app-editor>
  </div>
  <div *ngIf="displayPage !== null && workingFile === null">
    <app-pages [pageName]="displayPage"></app-pages>
  </div>
</div>

