@import '~sass/variables';
@import '~sass/mixins';


.sidebar-link {
  position: fixed;
  display: block;
  z-index: 30;
  top: ($editorbarHeight - (35px + 20px)) / 2;
  left: 0;
  width: 35px;
  height: 35px;
  background: #000;
  background: rgba(0,0,0,0.7);
  font-size: 25px;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

#main, #sidebar, .sidebar-link {
  @include transition($sidebarTransition);
}

.sidebar-link:hover,
.sidebar-link:focus {
    background: #000;
}

.gitHubWidget {
  background-color: aliceblue;
  font-size: 20px;
  padding: 10px;

  .icon {
    font-size: 48px;
  }
}

.gitHubWidget > div {
  display: flex;
  align-items: center;
  text-align: center;

  .avatar {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  .username {
    flex-grow: 1;
  }

  .fa-sign-out:hover {
    cursor: pointer;
  }
}

.gitHubConnectPrompt:hover {
  cursor: pointer;
}

#slider #sidebar {
  width: $sidebarWidth;
  position: fixed;
  top: 0;
  left: -$sidebarWidth;
  bottom: 0;
  z-index: 30;
  background: #191818;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

#slider.open {
  #sidebar {
    left: 0;
  }

  .sidebar-link {
    left: $sidebarWidth;
  }
}

.creationBar {
  display: flex;
  flex-direction: row-reverse;

  padding-top: 4px;
  padding-bottom: 4px;

  .repo {
    font-size: 0.7em;
  }

  .document {
    font-size: 0.7em;
  }

  .folder {
    font-size: 0.8em;
  }

  a {
    color: #999;
    margin-right: 7px;
  }

  a:hover {
    cursor: pointer;
  }

  .fa-stack.overlay {
    font-size: 17px;
    color: rgb(204, 204, 204);
    text-shadow:
      -1px -1px 0 #191818,
       1px -1px 0 #191818,
      -1px  1px 0 #191818,
       1px  1px 0 #191818;
  }
}

.pure-menu,
.pure-menu ul {
  border: none;
  background: transparent;
}

.pure-menu li {
  border-top: 1px solid #333;
}

.pure-menu li.upwardsLink div {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  border-bottom: 2px solid #555;
}

.pure-menu li.upwardsLink:hover div {
  background-color: #1f8dd6;
  cursor: pointer;
}


@media (min-width: $sidebarWidthThreshold) {
  .sidebar-link {
    display: none;
  }

  #slider #sidebar {
    left: 0;
  }
}
