<div id="slider" [class.open]="isOpen">
  <a class="sidebar-link" (click)="toggleOpen()">
    <span class="fa fa-bars icon"></span>
  </a>

  <div id="sidebar" (scroll)="onScroll($event)">
    <div class="gitHubWidget">
      <div *ngIf="!gitHubService.user && gitHubService.bearerToken !== null" class="gitHubConnectPrompt">
        <div class="fa fa-circle-o-notch icon fa-spin"></div>
        <div class="loginPrompt">Signing in...</div>
      </div>
      <div *ngIf="!gitHubService.user && gitHubService.bearerToken === null" (click)="loginPrompt()" class="gitHubConnectPrompt">
        <div class="fa fa-github icon"></div>
        <div class="loginPrompt">Click to sign in with GitHub</div>
      </div>
      <div *ngIf="gitHubService.user" class="gitHubUserInfo">
        <img class="avatar" src="{{ gitHubService.user.avatarUrl }}&s=96" alt="{{ gitHubService.user.login }} avatar">
        <div class="username">{{ gitHubService.user.login }}</div>
        <span class="fa fa-sign-out" (click)="logout()"></span>
      </div>
    </div>

    <div class="pure-menu">
      <ul class="gitHubNavList pure-menu-list">
        <li *ngIf="gitHubService.user" class="pure-menu-item">
          <div class="creationBar">
            <a *ngIf="!upwardsLink && !isInSingleRepoMode" class="fa-stack repo"
              (click)="createNewRepoButtonResponse()"
              >
              <span class="fa fa-database fa-stack-2x"></span>
              <span class="fa fa-plus fa-stack overlay"></span>
            </a>
            <a *ngIf="upwardsLink || isInSingleRepoMode" class="fa-stack folder"
              (click)="createNewFileButtonResponse(true)"
              >
              <span class="fa fa-folder fa-stack-2x"></span>
              <span class="fa fa-plus fa-stack overlay"></span>
            </a>
            <a *ngIf="upwardsLink || isInSingleRepoMode" class="fa-stack document"
              (click)="createNewFileButtonResponse()"
              >
              <span class="fa fa-file fa-stack-2x"></span>
              <span class="fa fa-plus fa-stack overlay"></span>
            </a>
          </div>
        </li>
        <li *ngIf="upwardsLink" class="pure-menu-item upwardsLink">
          <div class="pure-menu-link" (click)="loadNode(upwardsLink)">
            <span class="fa fa-arrow-left icon"></span>
            <span>{{upwardsLinkLabel}}</span>
          </div>
        </li>
        <li *ngFor="let node of currentNavList"
          class="gitHubNode pure-menu-item"
          >
          <app-filebrowserentry [parent]="this" [navItem]="node"></app-filebrowserentry>
        </li>
      </ul>
    </div>
  </div>
</div>
